<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <section class="span4 articles-list">
                <h3 style="text-align:center;padding-bottom:15px;">Frequently Searched</h3>
                <ul class="articles">
                    <li class="article-entry standard">
                        <h4><a >Write an aws script to create an ec2 instance using terraform ?</a></h4>
                        <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Server &amp; Database">General</a></span>
                        <span class="like-count">66</span>
                    </li>
                    <li class="article-entry standard">
                        <h4><a >What are some tips for improving my web development skills?</a></h4>
                        <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Website Dev</a></span>
                        <span class="like-count">15</span>
                    </li>
                    <li class="article-entry video">
                        <h4><a >What are some good resources for learning digital marketing?</a></h4>
                        <span class="article-meta">23 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Marketing</a></span>
                        <span class="like-count">8</span>
                    </li>
                    <li class="article-entry image">
                        <h4><a >Write me a list of 5 jokes for a comedy club</a></h4>
                        <span class="article-meta">22 Feb, 2013 in <a href="#" title="View all posts in Advanced Techniques">Comedy</a></span>
                        <span class="like-count">6</span>
                    </li>
                    <li class="article-entry standard">
                        <h4><a >How do I lose weight without going to the gym</a></h4>
                        <span class="article-meta">22 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Excercising</a></span>
                        <span class="like-count">2</span>
                    </li>
                    <li class="article-entry standard">
                        <h4><a >Write a blog about two lovers traveling the world</a></h4>
                        <span class="article-meta">21 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Writing</a></span>
                        <span class="like-count">3</span>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <section class="span4 articles-list">
                <h3 style="text-align:center;padding-bottom:15px;">Latest Searches</h3>
                <ul class="articles">
                    <li class="article-entry standard">
                        <h4><a >What's the most awkward moment you've ever experienced?</a></h4>
                        <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Server &amp; Database">Human Interaction</a></span>
                        <span class="like-count">66</span>
                    </li>
                    <li class="article-entry standard">
                        <h4><a >Write a python program to scrape a website for emails</a></h4>
                        <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Advanced Techniques">Programming</a></span>
                        <span class="like-count">18</span>
                    </li>
                    <li class="article-entry image">
                        <h4><a >How do I get clear skin ?</a></h4>
                        <span class="article-meta">25 Feb, 2013 in <a href="#" title="View all posts in Designing in WordPress">Skincare</a></span>
                        <span class="like-count">7</span>
                    </li>
                    <li class="article-entry video">
                        <h4><a >Can you do my math homework ?</a></h4>
                        <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in WordPress Plugins">Education</a></span>
                        <span class="like-count">7</span>
                    </li>
                    <li class="article-entry standard">
                        <h4><a >Create a 6 step tutorial on how do I convert salt water to fresh water ?</a></h4>
                        <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in Website Dev">Science</a></span>
                        <span class="like-count">15</span>
                    </li>
                    <li class="article-entry standard">
                        <h4><a >Create a recipe to make apple pie</a></h4>
                        <span class="article-meta">24 Feb, 2013 in <a href="#" title="View all posts in Theme Development">Cooking</a></span>
                        <span class="like-count">1</span>
                    </li>
                </ul>
            </section>
        </div>
        <div  class="col-lg-4 col-md-4 col-sm-12">
            <section class="span4 page-sidebar">

                <section class="widget">
                    <div class="support-widget">
                        <h3 class="title">Support</h3>
                        <p class="intro">Need more support? If you did not found an answer, contact us for further help.</p>
                    </div>
                </section>

                <section class="widget">
                    <div class="quick-links-widget">
                        <h3 class="title">Quick Links</h3>
                        <ul id="menu-quick-links" class="menu clearfix">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="articles-list.html">Articles List</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </section>

                <section class="widget" style="margin-top:25px;">
                    <h3 class="title">Tags</h3>
                    <div class="tagcloud">
                        <a href="#" class="btn btn-mini">basic</a>
                        <a href="#" class="btn btn-mini">beginner</a>
                        <a href="#" class="btn btn-mini">blogging</a>
                        <a href="#" class="btn btn-mini">colour</a>
                        <a href="#" class="btn btn-mini">css</a>
                        <a href="#" class="btn btn-mini">date</a>
                        <a href="#" class="btn btn-mini">design</a>
                        <a href="#" class="btn btn-mini">files</a>
                        <a href="#" class="btn btn-mini">format</a>
                        <a href="#" class="btn btn-mini">header</a>
                        <a href="#" class="btn btn-mini">images</a>
                        <a href="#" class="btn btn-mini">plugins</a>
                        <a href="#" class="btn btn-mini">setting</a>
                        <a href="#" class="btn btn-mini">templates</a>
                        <a href="#" class="btn btn-mini">theme</a>
                        <a href="#" class="btn btn-mini">time</a>
                        <a href="#" class="btn btn-mini">videos</a>
                        <a href="#" class="btn btn-mini">website</a>
                        <a href="#" class="btn btn-mini">wordpress</a>
                    </div>
                </section>

            </section>
        </div>
    </div>
</div>