<nav class="navbar navbar-light bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" style="color:white;" asp-action="Index" asp-controller="AskMe">Ask Me</a>
        <a class="btn btn-primary"  style="color:white;" asp-action="Index" asp-controller="Account">Login</a>
    </div>
</nav>