@model SearchResultViewModel



<div class="row">
    <div class="col-md-12">
        <div class="search-item">
                <h4 class="mb-1">
                  @Html.Raw(Model.SearchResults)
                </h4>
        </div>
    </div>
</div>